*{
  margin: 0;
  padding: 0;
}
.main-container{
  background-color: #596e8b;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.center-container{
  background-color: rgb(180, 162, 139);
  min-height: 500px;
  width: 460px;
  border-radius: 3%;
}
.app-heading{
  padding: 4px;
  color: white;  
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-transform: uppercase;
}
.input-container{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.input-box-todo{
  margin-left: 10px;
  width: 70%;
  height: 40px;
  border-radius: 14px;
  border:1px solid black;
  padding-left: 10px;  
  box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
  outline: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
}
.add-btn {
  border: 2px solid #596e8b;
  background-color:hsl(215, 49%, 21%);
  color: white;
  font-size: larger;
  margin-left: 10px;  
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(11, 10, 10, 0.3);
  transition: 0.3s;
  border-radius: 14px;
  padding: 5px;
}
.add-btn:active{
  box-shadow: none;
}
.list-container{
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.list-item{
  list-style-type: none;
  background-color: #596e8b;
  border:2px solid rgb(161, 158, 158);
  color:white;
  padding: 2px;
  border-radius: 5px; 
  min-height: 30px;
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px;
  word-break: break-all;
  width: 86%;
}

.icons{
  position: absolute;
  right: -32px;
  background-color: #596e8b;
  color: white;
  border: none;
}
.icons i{
  margin: 4px;
  font-size: large;
  cursor: pointer;
  transition: 0.1s;   
}
.icons i:hover{
  transform: scale(1.2);  
}
